.messageSender{
    display: flex;
    margin-top: 30px;
    background-color: white;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px rbga(0,0,0,0.75);
    width: 100%;
}

.messageSenderTop{
    display: flex;
    border-bottom: 1px solid #eff2f6;
    padding: 15px;
}

.messageSenderTop > form{
    flex:1;
    display: flex;
}


.messageSenderTop > form > input{
    outline-width: 0;
    border: none;
    padding: 5px 20px;
    margin: 0 10px;
    border-radius: 999px;
    background-color: #eff2f6;
}
.messageSenderTop > form > button{
    display: none;
}

.messageSenderInput{
    flex: 1;
}
.messageSenderBottom{
    display: flex;
    justify-content: space-evenly;
}

.messageSenderOption{
    padding: 20px;
    display: flex;
    align-items: center;
    color: gray;
    margin: 5px;
}
.messageSenderOption > h3{
    font-size: medium;
    margin-left: 10px;
}
.messageSenderOption:hover{
    background-color: #eff2f6;
    border-radius: 20px;
    cursor: pointer;
}